<app-bar></app-bar>

<div class="center">
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Doe</strong></div>
            <div>User type: <strong>Admin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
    <div class="user">
        <div class="left"><img src="../assets/images/user.jpg"></div>
        <div class="right">
            <button><img src="../assets/images/edit.png"></button>
            <button><img src="../assets/images/delete.png"></button>
        </div>
        <div class="userInfo">
            <div>Name : <strong>John Dodfftfe</strong></div>
            <div>User type: <strong>Admrfgffvdffdrin</strong></div>
            <div>Card Id: <strong>223</strong></div>
        </div>
    </div>
</div>

